---
import Prose from "../Prose.astro";
const { title } = Astro.props;
const { date } = Astro.props;
---

<div class="card w-auto dark:card-dark">
    <div class="relative flex items-center">
        <h1 class="mb-3 text-2xl font-medium">
            {title}
        </h1>
        <div class="mb-3 ml-auto">
            {date}
        </div>
    </div>
	<Prose>
		<slot />
	</Prose>
</div>
<style>
	@tailwind base;
	@tailwind components;
	@tailwind utilities;

	@layer components {
		.card {
			@apply bg-white rounded-md border border-gray-300 p-4 mb-4;
		}
		.card-dark {
			@apply bg-[#313030];
		}
	}
</style>

