body{
    margin: 0 auto;
    padding: 0;
    width: auto;
    font-family:   Meiryo, Yu Gothic, sans-serif; 
    background: #e9e7e7;
}

body,
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header{
    background: #70120f;
    display: flex;
    padding: 40px 20px;
    position: sticky;
    text-align:left;
    width: 100%;
}

main{
    height: auto;
}
    
.nnav__menu{
    display: flex;
}

.nnav__menu__item{
    font-size: 30px;
    font-weight: bold;
    list-style: none;
    margin-left: 18px;
    margin-right: 18px;
}

.nnav__menu__item a{
    color: #fcf3e1;
    display: block;
    text-decoration: none;
}

.gnav__menu{
    display: flex;
    width: auto;
    padding-right:  55px;
    vertical-align: middle;
}

.gnav__menu__item{
    font-size: 20px;
    list-style: none;
    margin-left: 20px;
}

.gnav__menu__item a{
    color: #d1d1d1;
    display: block;
    text-decoration: none;
}

.gnav__menu__item a::after {
    display: block;
    border-bottom: solid 3px #ffffff;
    bottom: 0;
    content: "";
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    width: 0;
}

.gnav__menu__item a:hover::after {
    width: 100%;
}

.content{
    line-height: 1.6;
    margin: 0 auto;
    width: 800px;
    font-size:  20px;
}

.content a{
    color: #70120f;
    border-bottom: solid 2px #825858;
    text-decoration: none;
}

.content a:hover{
    background: #d1d1d1;
}

.content input[type='text'] {
    box-sizing: border-box;
    width: 300px;
    padding: 0.3em;
    border: 0;
}

.twitter{
    color: #40ebed !important;
}

.footer{
    margin-top: auto;
    padding-top:  20px;
    bottom: 0;
    width: auto;
    height: 80px;
    color: #e9e7e7;
    text-align: center;
    background:   #2b2727;
}

@media screen and (max-width: 480px) {
     
    .nnav__menu__item{
        font-size: 24px;
        font-weight: bold;
        list-style: none;
        margin-left: 15px;
        margin-right: 15px;
    }
    .gnav__menu{
        display: flex;
        width: auto;
        padding-right: 30px;
    }
    .gnav__menu__item{
        font-size: 17px;
        list-style: none;
        margin-left: 12px;
    }
    .gnav__menu__item a{
        color: #d1d1d1;
        display: block;
        text-decoration: none;
    }
    
    .footer{
        margin-top: auto;
        padding-top: 15px;
        bottom: 0;
        width: auto;
        height: 70px;
        color: #e9e7e7;
        text-align: center;
        background: #2b2727;
    }
}
