body{
    margin: 0 auto;
    padding: 0;
    width: auto;
    font-family:   Meiryo, Yu Gothic, sans-serif; 
    background: #e9e7e7;
}

body,
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*.navbar {
    background: #70120f
}*/

main {
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.title {
    margin: 12px auto;
    font-size: 24px;
}

.cover {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

.cover__item {
    margin: 6px;
}

.content{
    line-height: 1.6;
    margin: 0 8px;
    width: auto;
    font-size:  18px;
}

.card-text a{
    color: #70120f;
    text-decoration: underline 1.5px #825858;
}

.card-text a:hover{
    background: #d1d1d1;
}

.footer{
    margin-top: auto;
    padding-top:  20px;
    bottom: 0;
    width: auto;
    height: 80px;
    color: #e9e7e7;
    text-align: center;
    background:   #2b2727;
}

@media screen and (max-width: 480px) {
    .footer{
        margin-top: auto;
        padding-top: 15px;
        bottom: 0;
        width: auto;
        height: 70px;
        color: #e9e7e7;
        text-align: center;
        background: #2b2727;
    }
}
