:root {
  --fg: #000000;
  --fg15: rgba(0, 0, 0, 0.15);
  --fg75: rgba(0, 0, 0, 0.75);
  --bg: #e9e7e7;
  --accent: var(--primary);
  --primary: #70120f;
  --secondary: #f6e05e;
}

@media (prefers-color-scheme: dark) {
  /* :root {
    --fg: #ffffff;
    --fg75: rgba(255, 255, 255, 0.75);
    --bg: #1a202c;
    --accent: var(--secondary);
  } */
  :root {
    --fg: #e9e7e7;
    --fg15: rgba(233, 231, 231, 0.15);
    --fg75: rgba(233, 231, 231, 0.75);
    --bg: #000000;
    --accent: var(--secondary);
  }
}

*,
:before,
:after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

html {
  background: var(--bg);
  color: var(--fg);
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body, h1, h2, h3, h4, h5, h6, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", ui-sans-serif,
    system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji", "-apple-system";
  line-height: inherit;
  margin-inline: auto;
  margin-block: 0;
  padding-inline: 1.5rem;
  max-width: 768px;
  min-height: 100vh;
  line-height: 1.5;
}

a,
a:hover {
  color: var(--accent);
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 0.25rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  color: var(--fg);
}

img,
picture {
  max-width: 100%;
  display: block;
}

h1 {
  font-size: 1.75rem;
  font-weight: 400;
}

h2 {
  font-size: 1.5rem;
  font-weight: 400;
}

h3 {
  font-size: 1.25rem;
  font-weight: 400;
}

h4 {
  font-size: 1rem;
  font-weight: 400;
}

h5,
h6 {
  font-size: 0.875rem;
  font-weight: 400;
}

.card {
  background-color: transparent;
  border-radius: 0.375rem;
  border-width: 2px;
  border-color: currentColor;
  padding: 1rem;
  margin-bottom: 0.5rem;
}

.w-auto {
  inline-size: auto;
}

.relative {
  position: relative;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.65rem;
    font-weight: 400;
  }

  h2 {
    font-size: 1.40rem;
    font-weight: 400;
  }

  h3 {
    font-size: 1.15rem;
    font-weight: 400;
  }

  h4,
  h5,
  h6 {
    font-size: 1.0rem;
    font-weight: 400;
  }
}
