---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="nrRoute" description='nrRouteのページ'>
  <Card title="Status">
    <p>Temporary Unavailable</p>
  </Card>
</Layout>

<style>
  .list-inside {
    list-style-position: inside;
  }

  .mb-1 {
    margin-bottom: 0.25rem;
  }

  .mb-2 {
    margin-bottom: 0.5rem;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
</style>
