---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="nrRoute" description='nrRouteのページ'>
	<Card title="About">
		<p>ギリギリ</p>
		<p>ブログは<a href="/posts">こちら</a>から</p>
	</Card>
	<Card title="昔マインクラフトで作ったもの">
		<div class="mb-2">
			<h4 class="mb-1">配布マップ</h4>
			<ul class="list-inside">
				<li>
					<a href="http://world-minecraft.com/archives/87752875.html">3600+1400m Athletic</a>
				</li>
				<li>
					<a href="http://world-minecraft.com/archives/54973436.html">Travelers 1</a>
				</li>
			</ul>
		</div>
		<div>
			<h4 class="font-medium mb-1">ibis Networkで作ったもの</h4>
			<ul>
				<li>Sunrise</li>
				<li>Beyond The Sign</li>
				<li>Warmth</li>
			</ul>
		</div>
	</Card>
	<Card title="Links">
		<ul class="list-inside">
			<li>
				<a href="https://twitter.com/nrRoute/" target="_blank" rel="noopener noreferrer">Twitter</a>
			</li>
			<li>
				<a href="https://nrroute.hatenablog.com/" target="_blank" rel="noopener noreferrer">はてなブログ</a>
			</li>
			<li>
				<a href="https://www.amazon.co.jp/hz/wishlist/ls/14D9L62NO9O7Q/" target="_blank" rel="noopener noreferrer">ほしいものリスト</a>
			</li>
			<li>
				<a href="https://i.airbuds.fm/ewsn/dSucNvTEBT" target="_blank" rel="noopener noreferrer">Airbuds</a>
			</li>
		</ul>
	</Card>
</Layout>

<style>
	.list-inside {
		list-style-position: inside;
	}

	.mb-2 {
		margin-bottom: 0.5rem;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.mb-1 {
		margin-bottom: 0.25rem;
	}
</style>
