---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="nrRoute" description='nrRouteのページ'>
  <Card title="Status">
    <p>ギリギリですが、どうにかやっています。やっていけなくなるかもしれませんが……</p>
  </Card>
  <Card title="Internal Links">
    <ul class="list-inside">
      <li>
        <a href="/posts">ブログ</a>
      </li>
      <li>
        <a href="/about">このサイトについて</a>
      </li>
      <li>
        <a href="/watched-anime">アニメの記録</a>
      </li>
      <li>
        <a href="/favorite-album">好きなアルバム</a>
      </li>
      <li>
        <a href="/diary">日記</a>
      </li>
    </ul>
  </Card>
  <Card title="External Links">
    <ul class="list-inside">
      <li>
        <a href="https://twitter.com/nrRoute/" target="_blank" rel="noopener noreferrer">Twitter</a>
      </li>
      <li>
        <a href="https://github.com/nrRoute/" target="_blank" rel="noopener noreferrer">GitHub</a>
      </li>
      <li>
        <a href="https://i.airbuds.fm/ewsn/dSucNvTEBT" target="_blank" rel="noopener noreferrer">Airbuds</a>
      </li>
      <li>
        <a href="https://nrroute.hatenablog.com/" target="_blank" rel="noopener noreferrer">はてなブログ</a>
      </li>
      <li>
        <a href="https://www.amazon.co.jp/hz/wishlist/ls/14D9L62NO9O7Q/" target="_blank" rel="noopener noreferrer">ほしいものリスト</a>
      </li>
    </ul>
  </Card>
  <Card title="昔マインクラフトで作ったもの">
    <div class="mb-2">
      <h3 class="mb-1">配布マップ</h3>
      <ul class="list-inside">
        <li>
          <a href="http://world-minecraft.com/archives/87752875.html">3600+1400m Athletic</a>
        </li>
        <li>
          <a href="http://world-minecraft.com/archives/54973436.html">Travelers 1</a>
        </li>
      </ul>
    </div>
    <div>
      <h3 class="mb-1">
        <a href="https://twitter.com/ibis_network_/" target="_blank" rel="noopener noreferrer">Ibis Network</a>で作ったもの
      </h3>
      <ul>
        <li>Sunrise</li>
        <li>Beyond The Sign</li>
        <li>Warmth</li>
      </ul>
    </div>
  </Card>
</Layout>

<style>
  .list-inside {
    list-style-position: inside;
  }

  .mb-1 {
    margin-bottom: 0.25rem;
  }

  .mb-2 {
    margin-bottom: 0.5rem;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
</style>
