---
const { title } = Astro.props;
---

<div class="card w-auto">
  <h2 class="mb-2 text-xl">
    {title}
  </h2>
  <slot />
</div>

<style>
  .mb-2 {
    margin-bottom: 0.5rem;
  }

  .text-xl {
    line-height: 1.75rem;
  }
</style>
