<footer>
  nrroute.net © 2025 nrRoute &nbsp;
  <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>
</footer>

<style>
  footer {
    display: flex;
    padding-top: 1rem;
    justify-content: center;
    height: 5rem;
  }
</style>
