---
const { url, title, description } = Astro.props;
---

<div class="card w-auto dark:card-dark">
	<h2 class="mb-2 text-xl font-medium">
        <a href={url}>
		    {title}
        </a>
	</h2>
    <p>{description}</p>
</div>
