---
const { url, title, description, created } = Astro.props;

const dateFormatter = new Intl.DateTimeFormat("ja-JP", {
  dateStyle: "medium",
});

const formattedCreated = dateFormatter.format(created);
---

<div class="card w-auto">
  <div class="flex-column">
    <div>
      <h2 class="mb-2 text-xl">
        <a href={url}>
          {title}
        </a>
      </h2>
    </div>
    <div>
      {formattedCreated}
    </div>
    <div>
      {description}
    </div>
  </div>
</div>

<style>
  a {
    text-decoration: none;
  }

  .mb-2 {
    margin-bottom: 0.5rem;
  }

  .text-xl {
    line-height: 1.75rem;
  }

  .ml-auto {
    margin-left: auto;
  }

  .flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
</style>
