<div class="prose dark:prose-invert
    prose-h1:font-bold prose-h1:text-2xl
    prose-h2:font-medium prose-h2:text-xl prose-h2:mb-2
    prose-h3:font-medium prose-h3:text-lg prose-h3:mb-2
    prose-ul:list-outside prose-ul:list-none
    prose-li:my-0">
    <slot />
</div>
