---
const { title } = Astro.props;
---

<div class="mx-6 py-4">
  <div class="text-3xl">
    <a href="/">{title}</a>
  </div>
</div>

<style>
  .mx-6 {
    margin-inline: 1.5rem;
  }

  .py-4 {
    padding-block: 1rem;
  }

  .text-3xl {
    font-size: 2.25rem;
    line-height: 2.25rem;
    font-weight: 300;
  }

  a,
  a:hover {
    text-decoration: none;
  }
</style>
