---
const { title } = Astro.props;
---

<div class="mx-6 py-4">
  <h1 class="text-3xl">
    <a href="/">{title}</a>
  </h1>
</div>

<style>
  .mx-6 {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .text-3xl {
    line-height: 2.25rem;
  }

  a,
  a:hover {
    text-decoration: none;
  }
</style>
