---
import { ClientRouter } from "astro:transitions";
import Footer from "@/components/Footer.astro";
import Meta from "@/components/Meta.astro";
import Title from "@/components/Title.astro";
import "@/styles/global.css";

interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="ja" transition:name="page">
  <head>
    <Meta title={title} description={description} />
    <link rel="icon" href="/favicon.ico" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{title}</title>
    <ClientRouter fallback="swap" />
  </head>
  <body>
    <header class="relative flex items-center">
      <Title title="nrRoute" />
    </header>
    <main class="flex-column grow">
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  .flex-column {
    display: flex;
    flex-direction: column;
  }

  .grow {
    flex-grow: 1;
  }
</style>
