---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="author" content="nrRoute" />
		<meta name="description" content="nrRoute's Page" />
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="font-sans bg-[#e9e7e7] dark:bg-[#313030] dark:text-gray-50">
		<slot />
		<footer class="flex justify-center pt-5 bg-[#2b2727] h-20 text-gray-200">
			Copyright &copy; nrRoute All Rights Reserved.
		</footer>
	</body>
</html>
